body {
    font-family: 思源黑體;
}

ul {
    font-family: helvetica;
}
.jumbotron{
    background-image:url("so.jpeg");
    color:rgb(38, 123, 138);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
    height: 50vh;
    
    }